* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

nav {
    background-image: linear-gradient(rgb(0, 0, 0), rgb(50, 50, 50));
    position: fixed;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 11vh;
    padding: 5px;
    border-bottom: 1px solid #66FCF1;
    z-index: 1;
}

h1 {
    margin: 0;
}

.top-name {
    font-family: 'Cormorant SC', serif;
    font-size: 10vw;
    font-weight: 500;
    text-shadow: -4px -4px 1px black;
    margin: 0;
}

.bar {
    color: #66FCF1;
    font-size: 40px;
}

ul {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li {
    font-family: 'Cormorant SC', serif;
    font-size: 5vw;
    text-shadow: -4px -4px 1px black;
    margin-top: -5px;
    margin-right: 20%;
}

.headline-container {
    background-color: rgb(50, 50, 50);
    background-image: url("images/bright-moon.png");
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: 120% 10%;
    height: 100vh;
    padding-bottom: 20px;
    padding-top: 40vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 50px;
    text-shadow: -6px 6px 4px black;
}

h2 {
    font-size: 35px;
    margin-bottom: 50px;
    text-shadow: -2px 4px 2px black;
}

h3 {
    font-size: 20px;
    text-shadow: -2px 3px 0px black;
}

.bio-container {
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(50,50,50,1) 100%);
    text-align: left;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 800px;
}

.bio-title {
    font-family: 'Cormorant SC', serif;
    text-decoration: underline;
    font-size: 50px;
    text-shadow: -1px 3px 0px black;
    align-self: center;
    padding-bottom: 20px;
}

p {
    margin-bottom: 20px;
    text-shadow: -1px 2px 0px black;
    line-height: 1.6;
}

.project-container {
    background: linear-gradient(0deg, rgba(5,66,168,1) 0%, rgba(0,0,0,1) 25%);
}

.project-title {
    font-family: 'Cormorant SC', serif;
    text-decoration: underline;
    font-size: 50px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.project-name {
    font-size: 25px;
    text-decoration: underline solid #66FCF1;
}

.project-info-container {
    background-color: black;
    text-align: center;
    padding: 20px;
}

.project-info {
    font-size: 15px;
    text-align: left;
}

.diff {
    color: rgb(221, 0, 0);
}

button {
    width: 30%;
}

.button-site {
    border: 1px solid #66FCF1;
    box-shadow: 2px 1px 5px 1px #66FCF1, 2px 1px 5px 2px #66FCF1 inset;
    background-color: black;
    margin-right: 10px;
    padding: 5px;
    color: rgb(234, 0, 255)
}

.button-code {
    border: 1px solid rgb(234, 0, 255);
    box-shadow: 2px 1px 5px 2px rgb(234, 0, 255), 2px 1px 5px 2px rgb(234, 0, 255) inset;
    background-color: black;
    margin-left: 10px;
    padding: 5px;
    color: #66FCF1;
}

.screenshot-container {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.screenshot {
    width: 80%;
    box-shadow: 2px 2px 5px 2px #66FCF1, 3px 3px 5px 2px rgb(234, 0, 255)
}

.contact-container {
    background: linear-gradient(to top, #BC2909, #BA6D09, #71A8EE, #3072EB, #1552C6, #0542A8);
    height: 740px;
    text-align: center;
    padding: 20px;
    position: relative;
}

.contact-title {
    font-family: 'Cormorant SC', serif;
    text-decoration: underline;
    font-size: 50px;
    padding-bottom: 20px;
    text-shadow: 1px -2px 1px black;
}

.name-title {
    font-family: 'Cormorant SC', serif;
    font-size: 23px;
    text-shadow: 1px -2px 2px black;
}

.name-title p {
    margin-bottom: 0;
}

.contact-options {
    padding: 30px;
    font-size: 17px;
}

.email-logo {
    margin-right: 12px;
    width: 25px;
}

.github-logo {
    margin-right: 8px;
    width: 30px;
}

.link {
    padding-bottom: 10px;
    font-size: 18px;
    text-shadow: 2px -4px 4px black;
}

.linked-link {
    margin-top: 10px;
}

.cloud {
    position: absolute;
    width: 70%;
}

.sun {
    position: absolute;
    width: 80%;
    left: -110px;
    bottom: -35px;
}

.tree {
    position: absolute;
    right: 2px;
    bottom: -8px;
    width: 50%;
    height: 20%;
}

footer {
    background: linear-gradient(0deg, rgba(103,89,52,1) 29%, rgba(37,255,0,1) 100%);
    background-size: cover;
    height: 60px;
    font-size: 6px;
}

@media screen and (min-width: 415px) {
    nav {
        position: relative;
    }

    .top-name {
        position: absolute;
        bottom: 0px;
        left: 2px;
    }

    ul {
        position: absolute;
        right: 5px;
        bottom: 5px;
    }

    .project-container {
        position: relative;
    }

    .project-name {
        border: 1px solid black;
        position: absolute;
        top: 5px;
        left: 5px;      
    }

    .project-info {
        border: 1px solid black;
        position: absolute;
        top: 5px;
        right: 5px;
    }

    .tech {
        border: 1px solid black;
        position: absolute;
        top: 30px;
        left: 5px;
    }

    .buttons {
        border: 1px solid black;
        position: absolute;
        bottom: 50px;
        width: 100%;
    }

    .project-screenshot {
        border: 1px solid black;
        position: absolute;
        bottom: 5px;
        width: 100%;
    }

    .contact-container {
        display: flex;
        justify-content: center;
    }

    .name-title {
        border: 1px solid black;
    }

    .contact-options {
        border: 1px solid black;
    }
}

@media screen and (min-width: 769px) {
    .project-container {
        position: static;
        display: flex;
        justify-content: center;
    }

    .project-name {
        position: static;
    }

    .project-info {
        position: static;
    }

    .tech {
        position: static;
    }

    .buttons {
        position: static;
    }

    .project-screenshot {
        position: static;
        align-self: flex-end;
    }

}